@use 'scss/components/form.scss' as *;

.common_form {
  @include form;
}
.common_form__buttons {
  position: sticky;
  bottom: 1rem;
  margin: 3rem 0 1rem 0;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
