@use '../../scss/styles.scss' as *;
@use '../../scss/abstracts/variables' as *;

$innerSpace: 1rem;
$darkgrey: #222222;
$ghostWhite: #f8f8ff;

.about {
  @extend .composite-grid;
  min-height: 100vh;
  font-family: Source Sans Pro;
  @extend .helvetica-font;
}
.about-common-title {
  @include tertiary-heading;
  color: $danger;
  font-family: helvetica;
}
.about__title {
  @extend .about-common-title;
}
.about__paragraph {
  color: #fbfbfb;
  @include paragraph;
}
.about__navbar {
  @include simple-navbar(#f1f1f1, $darkgrey);
  font-weight: bolder;
  height: 100%;
}

.about__header {
  @extend .composite-grid__header;
}
.about__footer {
  color: $ghostWhite;
  @extend .composite-grid__footer;
  background-color: $darkgrey;
}

.about__main {
  @extend .composite-grid__main;
  background-color: #dadcde;
}
.about__main_article {
  position: relative;
}
.about__image {
  @extend .responsive-image;
}
.about__aside {
  padding: $innerSpace;
  background-image: $primary-gradient;
  @extend .composite-grid__aside;
}
.about__details {
  @extend .flex-column-start;
  align-items: flex-start;
  padding: $innerSpace;
  @extend .composite-grid__details;
  background-image: $primary-gradient;
}
.details__paragraph {
  color: #f1f1f1;
  @include paragraph;
}
.details__title {
  @extend .about-common-title;
}
//npx serve@latest out #ffe781
