@use '../../scss/styles.scss' as *;
@use '../../scss/abstracts/variables' as *;

.contact {
  @extend .flex-column-center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: $primary-gradient;
}

.contact__title {
  @include heading;
}
.contact__label {
  color: #f1f1f1;
}

.contact__form {
  @extend .flex-column-space-evenly;
  max-width: 600px;
  min-width: 320px;
  min-height: 500px;
  background-color: #00000090;
  border-radius: 20px;
  padding: 2em;
  input,
  textarea {
    width: 100%;
    color: white;
    background-color: black;
  }
}
.contact__requestMessage {
  color: #f1f1f1;
  letter-spacing: 1px;
}

.downwards {
  align-self: flex-start;
  color: #f1f1f1;
  animation: down 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.normal {
  align-self: flex-start;
  color: #f1f1f1;
  animation: reset 1s;
  animation-fill-mode: forwards;
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes reset {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
