@use '../scss/styles.scss' as *;

$fontsize: 0.1em;

.homepage_main {
  img {
    @include responsive-image;
  }
}
.header {
  height: 40px;
}
.homepage__navbar {
  @include simple-navbar(#ffffff, #aa87de);
  padding: 0.5em 0;
  a {
    letter-spacing: 3px;
    font-weight: bolder;
    color: #000000;
    font-family: Source Sans Pro;
  }
}
.homepage_article {
  @include grid-two-columns(750);
  background-color: #fcfca1;
}
.homepage_article__paragraph {
  @include paragraph;
  font-family: Source Sans Pro;
}
.homepage_article__section1 {
  color: #f1f1f1;
  padding: 1em;
  @extend .flex-column-center;
  @include responsive-font-size;
  background-color: #111111;
  background-image: linear-gradient(90deg, #000000 0%, #53346d 100%);
}
.homepage_article__section2 {
  @extend .homepage_article__section1;
  background-color: #fcfca1;
}
.homepage_article__section3 {
  @extend .homepage_article__section1;
  background-color: #fcfca1;
}
.homepage_article__image {
  background-color: #000000;
}
.homepage_article__title {
  @include heading;
}
.homepage__footer {
  color: #f1f1f1;
  @extend .footer;
  padding: 1em;
}
