.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
}

.grid__header {
  grid-area: header;
  width: 100%;
}
.grid__footer {
  grid-area: footer;
  width: 100%;
}
.grid__main {
  grid-area: main;
}
