.opened {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #000000;
  transition: all 3s;
  transform: translateX(0);
  z-index: 10;
  width: 100%;
  @media (min-width: 600px) {
    width: 20%;
  }
}
.closed {
  display: none;
  transform: translateX(-40%);
}
